# Keycloak values for chart version 25.2.5
# This configuration uses Keycloak 26.3.3 with updated Bitnami images
# Chart repository: https://github.com/bitnami/charts/tree/main/bitnami/keycloak
# Images: docker.io/bitnami/keycloak:26.3.3-debian-12-r0
#         docker.io/bitnami/postgresql (via PostgreSQL subchart v16.x.x)

adminRealm: "cnoe"
production: true
usePasswordFiles: false
proxyHeaders: "forwarded"

global:
  defaultStorageClass: gp3

auth:
  adminUser: cnoe-admin
  adminPassword: cnoe-admin
  existingSecret: keycloak-config
  passwordSecretKey: KEYCLOAK_ADMIN_PASSWORD

ingress:
  enabled: true
  ingressClassName: nginx
  hostnameStrict: true
  servicePort: http
  annotations:
    argocd.argoproj.io/sync-wave: "20"
  tls: false

postgresql:
  enabled: true
  auth:
    username: keycloak
    database: keycloak
    existingSecret: "keycloak-config"
    secretKeys:
      userPasswordKey: POSTGRES_PASSWORD
  architecture: standalone
