# Keycloak values for chart version 25.2.0
# TEMPORARY: Using Bitnami Legacy repository due to catalog migration
# Source: https://hub.docker.com/u/bitnamilegacy
# See: https://github.com/bitnami/containers/issues/83267
# WARNING: Legacy images receive NO updates. Migrate before Sept 29, 2025
# Images: docker.io/bitnamilegacy/keycloak
#         docker.io/bitnamilegacy/postgresql

adminRealm: "cnoe"
production: true
usePasswordFiles: false
proxyHeaders: "forwarded"

# Use Bitnami Legacy repository (temporary solution)
image:
  registry: docker.io
  repository: bitnamilegacy/keycloak
global:
  defaultStorageClass: gp3

auth:
  adminUser: cnoe-admin
  adminPassword: cnoe-admin
  existingSecret: keycloak-config
  passwordSecretKey: KEYCLOAK_ADMIN_PASSWORD

ingress:
  enabled: true
  ingressClassName: nginx
  hostnameStrict: true
  servicePort: http
  annotations:
    argocd.argoproj.io/sync-wave: "20"
  tls: false

postgresql:
  enabled: true
  # Use Bitnami Legacy PostgreSQL image (temporary solution)
  image:
    registry: docker.io
    repository: bitnamilegacy/postgresql
  auth:
    username: keycloak
    database: keycloak
    existingSecret: "keycloak-config"
    secretKeys:
      userPasswordKey: POSTGRES_PASSWORD
  architecture: standalone
