adminRealm: "cnoe"
production: true
usePasswordFiles: false
proxyHeaders: "forwarded"

# Use Bitnami Legacy repository due to catalog migration
# See: https://github.com/bitnami/containers/issues/83267
image:
  registry: docker.io
  repository: bitnamilegacy/keycloak
  tag: ""  # Uses the chart's default version

global:
  defaultStorageClass: gp3

auth:
  adminUser: cnoe-admin
  adminPassword: cnoe-admin
  existingSecret: keycloak-config
  passwordSecretKey: KEYCLOAK_ADMIN_PASSWORD

ingress:
  enabled: true
  ingressClassName: nginx
  hostnameStrict: true
  servicePort: http
  annotations:
    argocd.argoproj.io/sync-wave: "20"
  tls: false

postgresql:
  enabled: true
  # Use Bitnami Legacy repository due to catalog migration
  # See: https://github.com/bitnami/containers/issues/83267
  image:
    registry: docker.io
    repository: bitnamilegacy/postgresql
    tag: ""  # Uses the chart's default version
  auth:
    username: keycloak
    database: keycloak
    existingSecret: "keycloak-config"
    secretKeys:
      userPasswordKey: POSTGRES_PASSWORD
  architecture: standalone
