appId: 1234
webhookUrl: https://...
clientId: ABC..
clientSecret: 1234abc
webhookSecret: 123abc
githubPrivateToken: github_pat_token...
privateKey: |
  -----BEGIN RSA PRIVATE KEY-----
  ...
  -----END RSA PRIVATE KEY-----
